/* Navbar Brand (Top left corner text) */
/* ---------------------------------------- */
.navbar-brand {
    visibility: hidden;
}

.navbar-brand:before {
    position: relative;

    padding-left: 90px;

    content: "Tournament Cat System";
    visibility: visible;

    font-weight: 900;

    text-shadow: 1px 1px black;
}

/* Navbar */
/* ----------- */
.navbar {
    background-color: palevioletred !important;
}

/* Nav bar items */
.navbar .nav-item a {
    text-shadow: 1px 1px black;
    font-weight: 700;
}

/* Nav bar cat logo */
#custom_theme_util_1 {
	position: absolute;
	top: 0.15vw;
	left: 0.5vw;
	background-image: url("https://api.devgoldy.me/stash/neko_cat_tras.png");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	width: 70px;
	height: 70px;
}

@media screen and (max-width: 1378px) {   
    #custom_theme_util_1 {
        top: 0.1vw;
        left: 0.1vw;
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 991px) {   
    #custom_theme_util_1 {
        top: 0.15vw;
        left: 0.5vw;
        width: 70px;
        height: 70px;
    }
}


/* Overview page */
/* ----------------- */

/* Next mini game text */
#overview_page .btn_next_minigame {
    visibility: hidden;
}

#overview_page .btn_next_minigame span {
    position: relative;
    visibility: visible;
    left: -180px;
}

#overview_page .btn_next_minigame:before {
    content: "Next meow minigame: ";
    visibility: visible;
}

/* Bongo cat anime edition */
#bongo_cat {
    margin-top: -40px !important;
    margin-bottom: -20px !important;
}

#bongo_cat #le_bongo_cat {
    transform: rotate(-15deg);

    height: 205px;

    background-size: 256px;
    background-image: url("https://api.devgoldy.me/stash/bongo_cat_anime_edition.gif");
    background-repeat: no-repeat;
}


table, .border {
    border: 4px solid palevioletred !important; 
}

table #player_tbody tr {
    border-width: 2px !important;

    text-shadow: 1px 1px black;
}


#game_controlls button {
    font-weight: 700;

    box-shadow: 0px 0px 10px black;
}

.mt-2 h5, .mt-2 span, .mt-2 p {
    text-shadow: 2px 2px black;
}


/* Background */
/* ----------- */

/* Normal Background */
body {
    background-image: linear-gradient(0deg, rgb(49, 5, 20), rgb(49, 5, 20))
}

/* Hexagon Background */
#hexagon_bg_light {
    background-image: linear-gradient(90deg, rgb(160, 57, 91) 0%, rgb(216, 112, 147) 100%);
}

#hexagon_bg_container {
    filter: brightness(80%) blur(1px);
}

#hexagon_bg_grid {
    filter: blur(1px);
    background-image: url("https://api.devgoldy.me/stash/hexagon_grid_v2.png");
}

.footer span::after {
    content: ". ‎ ‎ ‎ 🐱 --> Cat Theme By 💛Goldy";
}